<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <nav class="row">
      <ul id="footer-nav-bar" class="inline" data-hook>
        <!-- <li class="press"><%= link_to "Press", "/press" %></li> -->
        <li class="bio"><%= link_to "Bio", "/bio" %></li>
        <li class="contact"><%= link_to "Contact", "/contact" %></li>
        <!-- <li class="faq"><%= link_to "FAQ", "/faq" %></li> -->
      </ul>
    </nav>
    

    <nav class="row">
      <!-- Super Massive CSS-Sprite Social Media Icon Set Start -->
      <!-- **Don't forget to put url's inside the href="" -->
      <ul class="socialicons bw" data-hook>
        <li><a href="//www.facebook.com/HobrechtSportsArt" class="facebook" target="_blank">facebook</a></li>
        <li><a href="//twitter.com/HOBRECHTART" class="twitter" target="_blank">twitter</a></li>
        <li><a href="//instagram.com/hobrechtsportsart" class="instagram" target="_blank">instagram</a></li>
        <li><a href="//www.pinterest.com/davehobrecht/" class="pinterest" target="_blank">pinterest</a></li>
      </ul>
      <!-- Super Massive CSS-Sprite Icon Set End -->
    </nav>

    <nav class="row">
      <ul id="legal-nav-bar" class="inline" data-hook>
        <li class="copyright"><%= link_to raw("&copy; 2015 Hobrecht Sports Art"), "/bio" %></li>
        <li class="terms"><%= link_to "Terms & Conditions", "/terms" %></li>
        <li class="terms"><%= link_to "Privacy Policy", "/privacy" %></li>
        <li class="terms"><%= link_to "Return Policy", "/returns" %></li>
      </ul>
    </nav>

  </div>
</footer>

<script id="_webengage_script_tag" type="text/javascript">
  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '~47b66829';
  _weq['webengage.widgetVersion'] = "4.0";

  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "//ssl.widgets.webengage.com" : "//cdn.widgets.webengage.com") +
              "/js/widget/webengage-min-v-3.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
</script>