<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <nav>
      <ul id="footer-nav-bar" class="inline" data-hook>
        <li><%= link_to "Press", "/press" %></li>
        <li><%= link_to "Bio", "/bio" %></li>
        <li><%= link_to "Contact", "/contact" %></li>
        <li><%= link_to "FAQ", "/faq" %></li>
      </ul>
    </nav>

    <nav>
      <ul id="social-nav-bar" class="inline" data-hook>
        <li><%= link_to "Pinterest", "#" %></li>
        <li><%= link_to "Twitter", "#" %></li>
        <li><%= link_to "Facebook", "#" %></li>
        <li><%= link_to "LinkedIn", "#" %></li>
        <li><%= link_to "Google+", "#" %></li>
      </ul>
    </nav>

    <nav>
      <ul id="legal-nav-bar" class="inline" data-hook>
        <li>Copyright 2014 Hobrecht All Rights Reserved</li>
        <li><%= link_to "Terms & Conditions", "/terms" %></li>
        <li><%= link_to "Privacy Policy", "/privacy" %></li>
      </ul>
    </nav>

  </div>
</footer>